@{
    var baseUri = new Uri(WorkContext.CurrentSite.BaseUrl);
    var callbackUrl = new Uri(baseUri, Url.Action("Callback", "Login", new { area = "MBS.Auth0" })).ToString();
}
<script src="https://d19p4zemcycm7a.cloudfront.net/w2/auth0-widget-1.3.7.min.js"></script>
<script type="text/javascript">
	var widget = new Auth0Widget({
		domain: '@Model.Settings.Domain',
	    clientID: '@Model.Settings.ClientId',
		callbackURL: '@callbackUrl',
		state: '@Request.Url'
	});
</script>
<button onclick="widget.show()">Sign In</button>
